<footer>
    <hr>
    <a [routerLink]="['/']">Home</a>•
    <span *ngIf="currentUser !== null"><a [routerLink]="['/dashboard']">Dashboard</a>•</span>
    <span *ngIf="currentUser !== null"><a [routerLink]="['/managePlans']">Manage Plans</a>•</span>
    <span *ngIf="currentUser !== null"><a [routerLink]="['/manageDevices']">Manage Devices</a>•</span>
    <a *ngIf="currentUser === null" (click)="logout()" [routerLink]="['/login']">Sign In</a>
    <a *ngIf="currentUser !== null" (click)="logout()" [routerLink]="['/']">Sign Out</a>
    <h6>©2022 JamVan Wireless. All rights reserved.</h6>
</footer>
