<header>
    <aside *ngIf="currentUser === null">
        <p>Welcome to JamVan!</p>
        <span>• • • <a [routerLink]="['/login']">Sign In</a></span>
    </aside>
    <aside *ngIf="currentUser !== null">
        <p>Welcome back, {{currentUser.firstName}}!</p>
        <span>• • <a [routerLink]="['/dashboard']">My Account</a> • • <a (click)="logout()" [routerLink]="['/']">Log Out</a></span>
    </aside>
    <a [routerLink]="['/']"><img src="../../assets/images/jamvan-wireless.png" alt="JamVan Wireless Logo"></a>
</header>
