<aside>
    <h3>My Bill</h3>
    <select>
        <option value="current">Current Billing Cycle</option>
        <option value="051322-061222">May 13 - June 12, 2022</option>
        <option value="041322-051222">April 13 - May 12, 2022</option>
    </select>
    <table>
        <tr>
            <th>ITEM</th>
            <th>COST</th>
        </tr>
        <tr>
            <td>Unlimited Elite 5G</td>
            <td>$59.99</td>
        </tr>
        <tr>
            <td>Unlimited Essential</td>
            <td>$39.99</td>
        </tr>
        <tr>
            <td>NJ Telecom Tax</td>
            <td>$10.87</td>
        </tr>
        <tr>
            <td>Miscellaneous Service Fees</td>
            <td>$6.55</td>
        </tr>
        <tr id="total">
            <td>TOTAL DUE:</td>
            <td>$117.40</td>
        </tr>
    </table>
</aside>