aside {
    width: 240px;
    height: 100%;
    background-image: url("../../assets/images/sidebar.jpg");
    background-size: 100% 100%;
    padding: 12px;
}

h3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
}

h3 a {
    display: inline-block;
    margin-left: 24px;
    vertical-align: top;
    padding: 5px 10px;
    background-color: rgba(69, 117, 195, 0.7);
    border-radius: 6px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .2s;
    transition: color .2s;
}

h3 a:hover {
    background-color: rgba(69, 117, 195, 0.9);
    color: white;
}

select {
    width: 240px;
    height: 24px;
    font-size: 13px;
    vertical-align: middle;
}

table {
    background-color: rgb(0, 0, 0, .4);
    margin: 24px 0px 12px 0px;
    padding: 0px 12px 4px 12px;
    font-size: 13px;
    text-align: left;
    border-radius: 6px;
    border-spacing: 0px;
    color: rgb(255, 255, 255, .9);
}

th, td {
    padding: 12px 0px;
}

th:first-of-type {
    width: 100%;
}

td {
    border-top: 1px solid gray;
}

th:last-of-type, td:last-of-type {
    text-align: right;
}

tr:last-of-type {
    font-weight: bold;
    font-style: italic;
}