<aside>
    <h3>My Bill<a [routerLink]="['/billBreakdown']">View Details</a></h3>
    <table>
        <tr>
            <th>ITEM</th>
            <th>COST</th>
        </tr>
        <ng-container *ngFor="let plan of plans">
            <tr>
                <td>{{ plan.name }}</td>
                <td>${{ plan.price.toFixed(2) }}</td>
            </tr>
        </ng-container>
        <tr>
            <td>Fees</td>
            <td>${{ totalFees.toFixed(2) }}</td>
        </tr>
        <tr>
            <td>TOTAL DUE:</td>
            <td>${{ total.toFixed(2) }}</td>
        </tr>
    </table>
</aside>