<section>
    <img src="../../assets/images/apple-logo.png" *ngIf="device.activeNumber.device.make === 'Apple'">
    <img src="../../assets/images/blackberry-logo.png" *ngIf="device.activeNumber.device.make === 'BlackBerry'">
    <img src="../../assets/images/google-logo.png" *ngIf="device.activeNumber.device.make === 'Google'">
    <img src="../../assets/images/nokia-logo.png" *ngIf="device.activeNumber.device.make === 'Nokia'">
    <img src="../../assets/images/samsung-logo.png" *ngIf="device.activeNumber.device.make === 'Samsung'">
    <img src="../../assets/images/other-logo.png" *ngIf="device.activeNumber.device.make !== 'Apple' 
                                                      && device.activeNumber.device.make !== 'BlackBerry' 
                                                      && device.activeNumber.device.make !== 'Google' 
                                                      && device.activeNumber.device.make !== 'Nokia' 
                                                      && device.activeNumber.device.make !== 'Samsung'">
    <h3>{{ device.activeNumber.device.model }}</h3>
    <h4>{{ device.activeNumber.phoneNumber }}</h4>
    <p>Assigned to your {{ device.planName }} plan</p>
</section>