section {
    display: inline-block;
    width: 400px;
    background-color: rgb(70, 109, 180, .3);
    border-radius: 10px;
    padding: 16px;
    border: 1px solid darkgray;
    margin: 0px 18px 18px 0px;
}

img {
    float: right;
    width: 72px;
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

h4 {
    font-size: 15px;
    color: rgb(69, 117, 195);
    margin-bottom: 8px;
}

p {
    font-size: 14px;
    font-style: italic;
}