<main>
    <h1>Bill Details</h1>
    <article>
        <table>
            <tr>
                <th>ITEM</th>
                <th>COST</th>
            </tr>
            <ng-container *ngFor="let plan of plans">
                <tr>
                    <td>{{ plan.name }}
                        <ul>
                            <ng-container *ngFor="let activeLine of plan.activeLines, let i = index">
                                <li><span>Line {{ i + 1 }} — </span><span>{{ activeLine }}</span></li>
                                <ng-container *ngFor="let lineFee of lineFees">
                                    <ul>
                                        <li>{{ lineFee.description }} (per active line)</li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let planFee of plan.planFees">
                                <li>{{ planFee.description }}</li>
                            </ng-container>
                        </ul>
                        <span>SUBTOTAL - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -></span>
                    </td>
                    <td>${{ plan.price }}
                        <ul>
                            <ng-container *ngFor="let activeLine of plan.activeLines, let i = index">
                                <ng-container *ngFor="let lineFee of lineFees">
                                    <li>&nbsp;</li>
                                    <ul>
                                        <li>${{ lineFee.amount.toFixed(2) }}</li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                            <ng-container>
                                <ng-container *ngFor="let planFee of plan.planFees">
                                    <li>${{ planFee.amount.toFixed(2) }}</li>
                                </ng-container>
                            </ng-container>
                        </ul>
                        <span>${{ plan.subtotal.toFixed(2) }}</span>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngFor="let globalFee of globalFees">
                <tr>
                    <ng-container *ngIf="globalFee.percentage">
                        <td>{{ globalFee.description }} ({{ globalFee.amount }}%)</td>
                        <td>${{ (totalAmount * (globalFee.amount / 100)).toFixed(2) }}</td>
                    </ng-container>
                    <ng-container *ngIf="!globalFee.percentage">
                        <td>{{ globalFee.description }}</td>
                        <td>${{ globalFee.amount.toFixed(2) }}</td>
                    </ng-container>
                </tr>
            </ng-container>
            <tr>
                <td>TOTAL DUE:</td>
                <td>${{ totalAmountWithGlobalFees.toFixed(2) }}</td>
            </tr>
        </table>
    </article>
    <app-sidebar
        [isStale]="isStale"></app-sidebar>
</main>