<aside *ngIf="showAddAvailableDeviceModal">
    <header>
        <img src="../../assets/images/apple-logo.png" *ngIf="device.device.make === 'Apple'">
        <img src="../../assets/images/blackberry-logo.png" *ngIf="device.device.make === 'BlackBerry'">
        <img src="../../assets/images/google-logo.png" *ngIf="device.device.make === 'Google'">
        <img src="../../assets/images/nokia-logo.png" *ngIf="device.device.make === 'Nokia'">
        <img src="../../assets/images/samsung-logo.png" *ngIf="device.device.make === 'Samsung'">
        <img src="../../assets/images/other-logo.png" *ngIf="device.device.make !== 'Apple' 
                                                          && device.device.make !== 'BlackBerry' 
                                                          && device.device.make !== 'Google' 
                                                          && device.device.make !== 'Nokia' 
                                                          && device.device.make !== 'Samsung'">
        <h5>{{ device.device.model }}</h5>
        <h6>{{ device.device.make }}</h6>
        <select #lines (change)="onSelected(lines.value)">
            <option value="">Select an active line...</option>
            <ng-container *ngFor="let line of availableLines, let i = index">
                <option value="{{ i }}">{{ line.phoneNumber }}</option>
            </ng-container>
        </select>
        <div>{{ addDeviceError }}</div>
        <p>Are you sure you want to add this device?</p>
        <button (click)="addAvailableDevice()">Add Device</button>
        <button (click)="cancelAddAvailableDevice()">Cancel</button>
    </header>
    <div (click)="cancelAddAvailableDevice()"></div>
</aside>

<aside *ngIf="showNoAvailableLinesModal">
    <header>
        <img src="../../assets/images/apple-logo.png" *ngIf="device.device.make === 'Apple'">
        <img src="../../assets/images/blackberry-logo.png" *ngIf="device.device.make === 'BlackBerry'">
        <img src="../../assets/images/google-logo.png" *ngIf="device.device.make === 'Google'">
        <img src="../../assets/images/nokia-logo.png" *ngIf="device.device.make === 'Nokia'">
        <img src="../../assets/images/samsung-logo.png" *ngIf="device.device.make === 'Samsung'">
        <img src="../../assets/images/other-logo.png" *ngIf="device.device.make !== 'Apple' 
                                                          && device.device.make !== 'BlackBerry' 
                                                          && device.device.make !== 'Google' 
                                                          && device.device.make !== 'Nokia' 
                                                          && device.device.make !== 'Samsung'">
        <h5>{{ device.device.model }}</h5>
        <h6>{{ device.device.make }}</h6>
        <p>Add a line or free one up to add this device!</p>
        <button [routerLink]="['/managePlans']">Manage Plans</button>
        <button (click)="cancelNoAvailableLines()">Manage Devices</button>
    </header>
    <div (click)="cancelNoAvailableLines()"></div>
</aside>

<section>
    <img src="../../assets/images/apple-logo.png" *ngIf="device.device.make === 'Apple'">
    <img src="../../assets/images/blackberry-logo.png" *ngIf="device.device.make === 'BlackBerry'">
    <img src="../../assets/images/google-logo.png" *ngIf="device.device.make === 'Google'">
    <img src="../../assets/images/nokia-logo.png" *ngIf="device.device.make === 'Nokia'">
    <img src="../../assets/images/samsung-logo.png" *ngIf="device.device.make === 'Samsung'">
    <img src="../../assets/images/other-logo.png" *ngIf="device.device.make !== 'Apple' 
                                                        && device.device.make !== 'BlackBerry' 
                                                        && device.device.make !== 'Google' 
                                                        && device.device.make !== 'Nokia' 
                                                        && device.device.make !== 'Samsung'">
    <h3>{{ device.device.model }}<button (click)="addAvailableDeviceModal()">Add</button></h3> 
    <ul>
        <ng-container *ngIf="device.device.activeDeviceDescriptors.length === 0">
            <li>Descriptor 1</li>
            <li>Descriptor 2</li>
            <li>Descriptor 3</li>
        </ng-container>
        <ng-container *ngIf="device.device.activeDeviceDescriptors.length !== 0">
            <ng-container *ngFor="let activeDeviceDescriptor of device.device.activeDeviceDescriptors">
                <li>{{ activeDeviceDescriptor.descriptor.description }}</li>
            </ng-container>
         </ng-container>
    </ul>
</section>