<main>
    <h1>Register</h1>

    <form id="register" [formGroup]="newUserForm" (ngSubmit)="register()">
        
        <label for="firstName">First Name</label>
        <input name="firstName" type="text" formControlName="firstName" maxlength="30" />
        <aside>
            <span *ngIf="newUserForm.controls['firstName'] != null 
                         && !newUserForm.controls['firstName'].valid 
                         && (newUserForm.controls['firstName'].dirty 
                         || newUserForm.controls['firstName'].touched)">
                Required
            </span>
        </aside>

        <label for="lastName">Last Name</label>
        <input name="lastName" type="text" formControlName="lastName" maxlength="30" />
        <aside>
            <span *ngIf="newUserForm.controls['lastName'] != null 
                         && !newUserForm.controls['lastName'].valid 
                         && (newUserForm.controls['lastName'].dirty 
                         || newUserForm.controls['lastName'].touched)">
                Required
            </span>
        </aside>

        <label for="email">E-Mail</label>
        <input name="email" type="email" formControlName="email" maxlength="30" />
        <aside>
            <div *ngIf="newUserForm.controls['email'] != null 
                        && !newUserForm.controls['email'].valid 
                        && (newUserForm.controls['email'].dirty 
                        || newUserForm.controls['email'].touched)">
                <span [hidden]="!newUserForm.controls['email'].errors?.['required']">Required</span>
                <span [hidden]="!newUserForm.controls['email'].errors?.['invalidEmail']">Invalid E-Mail</span>
            </div>
        </aside>

        <label for="password">Password</label>
        <input name="password" type="password" formControlName="password" maxlength="30" />
        <aside>
            <div *ngIf="newUserForm.controls['password'] != null 
                        && !newUserForm.controls['password'].valid 
                        && (newUserForm.controls['password'].dirty 
                        || newUserForm.controls['password'].touched)">
                <span [hidden]="!newUserForm.controls['password'].errors?.['required']">Required</span>
                <span [hidden]="!newUserForm.controls['password'].errors?.['minlength']">Needs 6+ characters</span>
            </div>
        </aside>

        <label for="confirmPassword">Confirm Password</label>
        <input name="confirmPassword" type="password" formControlName="confirmPassword" maxlength="30" />
        <aside>
            <span [hidden]="!newUserForm.errors?.['notSame']">Passwords must match</span>
        </aside>
        
        <input [disabled]="!newUserForm.valid" type="submit"  value="Register"/>
        <aside>
            <span [hidden]="error === ''">{{ error }}</span>
        </aside>

    </form>

    <p>Already have an account? <a [routerLink]="['/login']">Click here to log in!</a></p>
</main>