<main>
    <h1>Manage Plans</h1>

    <article>
        <h2>My Plans</h2>
        <ng-container *ngFor="let plan of currentPlans">
            <app-current-plan 
                [plan]="plan" 
                [addLine]="addLine" 
                [changePlan]="changePlan" 
                [cancelPlan]="cancelPlan"
                [deleteLine]="deleteLine"></app-current-plan>
        </ng-container>
        
        <h2>Available Plans</h2>
        <ng-container *ngFor="let plan of allPlans">
            <app-available-plan 
                [plan]="plan" 
                [addActivePlan]="addActivePlan"></app-available-plan>
        </ng-container>
    </article>

    <app-sidebar></app-sidebar>
</main>