<main>
    <h1>Manage Plans</h1>

    <article>
        <h2>My Plans</h2>
        <app-current-plan></app-current-plan>
        <app-current-plan></app-current-plan>
        <app-current-plan></app-current-plan>
        <app-current-plan></app-current-plan>
        
        <h2>Available Plans</h2>
        <app-available-plan></app-available-plan>
        <app-available-plan></app-available-plan>
        <app-available-plan></app-available-plan>
    </article>

    <app-sidebar></app-sidebar>
</main>