main {
    padding-left: 45px;
}

h1 {
    background-image: url("../../assets/images/h1.jpg");
    background-size: 110% 100%;
    padding: 12px 0px 10px 45px;
    color: rgb(31, 102, 160);
}

h2 {
    margin-bottom: 14px;
}