section {
    display: inline-block;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid darkgray;
    margin: 0px 18px 18px 0px;
}

img {
    float: right;
    width: 140px;
}

div {
    width: 200px;
}

div button {
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    border-radius: 3px;
    background-image: url("../../assets/images/delete-icon-hover.png");
    background-size: 24px;
    transition: background-image .2s;
}

div button:hover {
    background-image: url("../../assets/images/delete-icon.png");
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

h4 {
    font-size: 15px;
    color: rgb(69, 117, 195);
    margin-bottom: 2px;
}

p {
    font-size: 13px;
    margin-bottom: 8px;
}

ul {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 12px;
}

li {
    margin-left: 20px;
}

section > button {
    display: inline-block;
    width: 110px;
    margin: 0px 11px;
    padding: 6px 10px;
    background-color: rgba(69, 117, 195, 0.7);
    border: solid 1px rgb(69, 117, 195, 0.7);
    border-radius: 6px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    transition: background-color .1s;
    transition: color .1s;
    transition: border .1s;
}

section > button:hover {
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    color: black;
}