aside {
    float: left;
}

section {
    display: inline-block;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid darkgray;
    margin: 0px 18px 18px 0px;
}

img {
    float: right;
    width: 120px;
    margin-bottom: 17px;
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

h4 {
    font-size: 15px;
    color: rgb(69, 117, 195);
    margin-bottom: 6px;
}

h4 button {
    vertical-align: text-top;
    width: 12px;
    height: 16px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../assets/images/trash-can.png");
    background-size: 12px;
    transition: background-image .2s;
}

h4 button:hover {
    background-image: url("../../assets/images/trash-can-hover.png");
}

p {
    font-size: 13px;
    margin-bottom: 8px;
}

p span:last-of-type {
    font-weight: bold;
    font-style: italic;
    color: red;
    margin-left: 8px;
}

ul {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 12px;
}

li {
    margin-left: 20px;
}

footer {
    clear: both;
    text-align: center;
}

footer button {
    display: inline-block;
    width: 110px;
    margin: 0px 8px;
    padding: 6px 10px;
    background-color: rgba(69, 117, 195, 0.7);
    border: solid 1px rgb(69, 117, 195, 0.7);
    border-radius: 6px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    transition: background-color .1s;
    transition: color .1s;
    transition: border .1s;
}

footer button:hover {
    background-color: white;
    border: solid 1px black;
    color: black;
}