<aside *ngIf="showChangePlanModal">
    <header>
        <img src="../../assets/images/plan-premium.png" *ngIf="plan.plan.name === 'Unlimited Premium'" />
        <img src="../../assets/images/plan-extra.png" *ngIf="plan.plan.name === 'Unlimited Extra'" />
        <img src="../../assets/images/plan-starter.png" *ngIf="plan.plan.name === 'Unlimited Starter'" />
        <h5>{{ plan.plan.name }}</h5>
        <h6>${{ plan.plan.price }}/month</h6>
        <select name="changeTo">
            <option value="">Select a plan...</option>
            <option value="Unlimited Premium">Unlimited Premium (3 lines) - $99.99/month</option>
            <option value="Unlimited Extra">Unlimited Extra (2 lines) - $79.99/month</option>
            <option value="Unlimited Starter">Unlimited Starter (1 line) - $59.99/month</option>
        </select>
        <p>Are you sure you want to change this plan?<br>
            <span>Extra phone lines will be deleted!</span>
        </p>
        <button (click)="changePlan()">Change Plan</button>
        <button (click)="cancelChangePlan()">Cancel</button>
    </header>
    <div (click)="cancelChangePlan()"></div>
</aside>

<aside *ngIf="showCancelPlanModal">
    <header>
        <img src="../../assets/images/plan-premium.png" *ngIf="plan.plan.name === 'Unlimited Premium'" />
        <img src="../../assets/images/plan-extra.png" *ngIf="plan.plan.name === 'Unlimited Extra'" />
        <img src="../../assets/images/plan-starter.png" *ngIf="plan.plan.name === 'Unlimited Starter'" />
        <h5>{{ plan.plan.name }}</h5>
        <h6>${{ plan.plan.price }}/month</h6>
        <p>Are you sure you want to cancel this plan?</p>
        <button (click)="cancelPlan()">Yes</button>
        <button (click)="cancelCancelPlan()">No</button>
    </header>
    <div (click)="cancelCancelPlan()"></div>
</aside>

<section>
    <img src="../../assets/images/plan-premium.png" *ngIf="plan.plan.name === 'Unlimited Premium'" />
    <img src="../../assets/images/plan-extra.png" *ngIf="plan.plan.name === 'Unlimited Extra'" />
    <img src="../../assets/images/plan-starter.png" *ngIf="plan.plan.name === 'Unlimited Starter'" />
    <h3>{{ plan.plan.name }}</h3>
    <ng-container *ngFor="let line of plan.lines">
        <h4>{{ line.phoneNumber }}<button (click)="deleteLine(line.activeNumberId)"></button></h4>
    </ng-container>
    <ng-container *ngIf="plan.lines.length === 0">
        <h4>No Lines Active</h4>
        <p>{{ plan.plan.numDevices }} Available Line<span *ngIf="plan.plan.numDevices !== 1">s</span></p>
    </ng-container>
    <ul *ngIf="currentLines < 2" >
        <ng-container *ngFor="let descriptor of plan.descriptors, let i = index">
            <ng-container *ngIf="i < 3">
                <li>{{ descriptor }}</li>
            </ng-container>
        </ng-container>
    </ul>
    <footer>
        <button>Add Line</button>
        <button (click)="changePlanModal()">Change Plan</button>
        <button (click)="cancelPlanModal()">Cancel Plan</button>
    </footer>
</section>