<section>
    <img src="../../assets/images/plan.png" />
    <h3>{{ plan.plan.name }}</h3>
    <ng-container *ngFor="let line of plan.lines">
        <h4>{{ line.phoneNumber }}<button (click)="delete(line.phoneNumber)"></button></h4>
        <p>{{ line.model }}</p>
    </ng-container>
    <ul>
        <ng-container *ngFor="let descriptor of plan.descriptors">
            <li>{{ descriptor }}</li>
        </ng-container>
    </ul>
    <footer>
        <button (click)="add()">Add Line</button>
        <button (click)="change()">Change Plan</button>
        <button (click)="cancel()">Cancel Plan</button>
    </footer>
</section>