<aside *ngIf="showActivePlanModal">
    <header>
        <img src="../../assets/images/plan-premium.png" *ngIf="plan.name === 'Unlimited Premium'" />
        <img src="../../assets/images/plan-extra.png" *ngIf="plan.name === 'Unlimited Extra'" />
        <img src="../../assets/images/plan-starter.png" *ngIf="plan.name === 'Unlimited Starter'" />
        <h5>{{ plan.name }}</h5>
        <h6>${{ plan.price }}/month</h6>
        <p>Are you sure you want to add this plan?</p>
        <button (click)="addActivePlan()">Add Plan</button>
        <button (click)="cancelAddActivePlan()">Cancel</button>
    </header>
    <div (click)="cancelAddActivePlan()"></div>
</aside>

<section>
    <img src="../../assets/images/plan-premium.png" *ngIf="plan.name === 'Unlimited Premium'" />
    <img src="../../assets/images/plan-extra.png" *ngIf="plan.name === 'Unlimited Extra'" />
    <img src="../../assets/images/plan-starter.png" *ngIf="plan.name === 'Unlimited Starter'" />
    <h3>{{ plan.name }}</h3>
    <h4>${{ plan.price }}/month</h4>
    <ul>
        <ng-container *ngFor="let activeDescriptor of plan.activeDescriptors">
            <li>{{ activeDescriptor.descriptor.description }}</li>
        </ng-container>
    </ul>
    <button (click)="addActivePlanModal()">Add Plan</button>
</section>