<aside *ngIf="showRemoveDeviceModal">
    <header>
    <img src="../../assets/images/apple-logo.png" *ngIf="'Apple' === 'Apple'">
    <!-- <img src="../../assets/images/blackberry-logo.png" *ngIf="device.device.make === 'BlackBerry'">
    <img src="../../assets/images/samsung-logo.png" *ngIf="device.device.make === 'Samsung'">
    <img src="../../assets/images/other-logo.png" *ngIf="device.device.make !== 'Apple' 
                                                      && device.device.make !== 'BlackBerry' 
                                                      && device.device.make !== 'Samsung'"> -->
        <h5><!--{{ device.device.model }}-->Device Model</h5>
        <select>
            <option value="">Select an active line...</option>
            <ng-container *ngFor="let line of currentLines">
                <option value="{{ line }}">{{ line }}</option>
            </ng-container>
        </select>
        <p>Are you sure you want to add this device?</p>
        <button (click)="removeDevice()">Add Device</button>
        <button (click)="cancelRemoveDevice()">Cancel</button>
    </header>
    <div (click)="cancelRemoveDevice()"></div>
</aside>

<section>
    <img src="../../assets/images/apple-logo.png" *ngIf="number.device.make === 'Apple'">
    <img src="../../assets/images/blackberry-logo.png" *ngIf="number.device.make === 'BlackBerry'">
    <img src="../../assets/images/samsung-logo.png" *ngIf="number.device.make === 'Samsung'">
    <img src="../../assets/images/other-logo.png" *ngIf="number.device.make !== 'Apple' 
                                                      && number.device.make !== 'BlackBerry' 
                                                      && number.device.make !== 'Samsung'">
    <h3>{{ number.device.model }}</h3>
    <h4>{{ number.activeNumber.phoneNumber }}</h4>
    <p>Assigned to your {{ number.planName }} plan</p>
    <button>Change Line</button>
    <button (click)="removeDeviceModal()">Remove Device</button>
</section>