<section>
    <img src="../../assets/images/apple-logo.png" *ngIf="number.device.make === 'Apple'">
    <img src="../../assets/images/samsung-logo.png" *ngIf="number.device.make === 'Samsung'">
    <img src="../../assets/images/blackberry-logo.png" *ngIf="number.device.make === 'BlackBerry'">
    <h3>{{ number.device.model }}</h3>
    <h4>{{ number.activeNumber.phoneNumber }}</h4>
    <p>Assigned to your {{ number.planName }} plan</p>
    <button>Reassign</button>
    <button (click)="removeDevice()">Remove</button>
</section>