<aside *ngIf="showChangeLineModal">
    <header>
        <img src="../../assets/images/apple-logo.png" *ngIf="number.activeNumber.device.make === 'Apple'">
        <img src="../../assets/images/blackberry-logo.png" *ngIf="number.activeNumber.device.make === 'BlackBerry'">
        <img src="../../assets/images/google-logo.png" *ngIf="number.activeNumber.device.make === 'Google'">
        <img src="../../assets/images/nokia-logo.png" *ngIf="number.activeNumber.device.make === 'Nokia'">
        <img src="../../assets/images/samsung-logo.png" *ngIf="number.activeNumber.device.make === 'Samsung'">
        <img src="../../assets/images/other-logo.png" *ngIf="number.activeNumber.device.make !== 'Apple' 
                                                          && number.activeNumber.device.make !== 'BlackBerry' 
                                                          && number.activeNumber.device.make !== 'Google' 
                                                          && number.activeNumber.device.make !== 'Nokia' 
                                                          && number.activeNumber.device.make !== 'Samsung'">
        <h5>{{ number.activeNumber.device.model }}</h5>
        <select #lines (change)="onSelected(lines.value)">
            <option value="">Select an active line...</option>
            <ng-container *ngFor="let line of availableLines, let i = index">
                <option value="{{ i }}">{{ line.phoneNumber }}</option>
            </ng-container>
        </select>
        <div>{{ changeLineError }}</div>
        <p>Change this device to the selected line?</p>
        <button (click)="changeLine()">Change Line</button>
        <button (click)="cancelChangeLine()">Cancel</button>
    </header>
    <div (click)="cancelChangeLine()"></div>
</aside>

<aside *ngIf="showNoAvailableLinesModal">
    <header>
        <img src="../../assets/images/apple-logo.png" *ngIf="number.activeNumber.device.make === 'Apple'">
        <img src="../../assets/images/blackberry-logo.png" *ngIf="number.activeNumber.device.make === 'BlackBerry'">
        <img src="../../assets/images/google-logo.png" *ngIf="number.activeNumber.device.make === 'Google'">
        <img src="../../assets/images/nokia-logo.png" *ngIf="number.activeNumber.device.make === 'Nokia'">
        <img src="../../assets/images/samsung-logo.png" *ngIf="number.activeNumber.device.make === 'Samsung'">
        <img src="../../assets/images/other-logo.png" *ngIf="number.activeNumber.device.make !== 'Apple' 
                                                          && number.activeNumber.device.make !== 'BlackBerry' 
                                                          && number.activeNumber.device.make !== 'Google' 
                                                          && number.activeNumber.device.make !== 'Nokia' 
                                                          && number.activeNumber.device.make !== 'Samsung'">
        <h5>{{ number.activeNumber.device.model }}</h5>
        <h6>{{ number.activeNumber.phoneNumber }}</h6>
        <p>Add a line or free one up to change lines!</p>
        <button [routerLink]="['/managePlans']">Manage Plans</button>
        <button (click)="cancelNoAvailableLines()">Manage Devices</button>
    </header>
    <div (click)="cancelNoAvailableLines()"></div>
</aside>

<aside *ngIf="showRemoveDeviceModal">
    <header>
        <img src="../../assets/images/apple-logo.png" *ngIf="number.activeNumber.device.make === 'Apple'">
        <img src="../../assets/images/blackberry-logo.png" *ngIf="number.activeNumber.device.make === 'BlackBerry'">
        <img src="../../assets/images/google-logo.png" *ngIf="number.activeNumber.device.make === 'Google'">
        <img src="../../assets/images/nokia-logo.png" *ngIf="number.activeNumber.device.make === 'Nokia'">
        <img src="../../assets/images/samsung-logo.png" *ngIf="number.activeNumber.device.make === 'Samsung'">
        <img src="../../assets/images/other-logo.png" *ngIf="number.activeNumber.device.make !== 'Apple' 
                                                          && number.activeNumber.device.make !== 'BlackBerry' 
                                                          && number.activeNumber.device.make !== 'Google' 
                                                          && number.activeNumber.device.make !== 'Nokia' 
                                                          && number.activeNumber.device.make !== 'Samsung'">
        <h5>{{ number.activeNumber.device.model }}</h5>
        <h6>{{ number.activeNumber.phoneNumber }}</h6>
        <p>Are you sure you want to remove this device?</p>
        <button (click)="removeDevice()">Remove Device</button>
        <button (click)="cancelRemoveDevice()">Cancel</button>
    </header>
    <div (click)="cancelRemoveDevice()"></div>
</aside>

<section>
    <img src="../../assets/images/apple-logo.png" *ngIf="number.activeNumber.device.make === 'Apple'">
    <img src="../../assets/images/blackberry-logo.png" *ngIf="number.activeNumber.device.make === 'BlackBerry'">
    <img src="../../assets/images/google-logo.png" *ngIf="number.activeNumber.device.make === 'Google'">
    <img src="../../assets/images/nokia-logo.png" *ngIf="number.activeNumber.device.make === 'Nokia'">
    <img src="../../assets/images/samsung-logo.png" *ngIf="number.activeNumber.device.make === 'Samsung'">
    <img src="../../assets/images/other-logo.png" *ngIf="number.activeNumber.device.make !== 'Apple' 
                                                        && number.activeNumber.device.make !== 'BlackBerry' 
                                                        && number.activeNumber.device.make !== 'Google' 
                                                        && number.activeNumber.device.make !== 'Nokia' 
                                                        && number.activeNumber.device.make !== 'Samsung'">
    <h3>{{ number.activeNumber.device.model }}</h3>
    <h4>{{ number.activeNumber.phoneNumber }}</h4>
    <p>Assigned to your {{ number.planName }} plan</p>
    <button (click)="changeLineModal()">Change Line</button>
    <button (click)="removeDeviceModal()">Remove Device</button>
</section>