nav {
    background-image: url("../../assets/images/nav.gif");
    padding-left: 16px;
    font-size: 14px;
}

a {
    display: inline-block;
    padding: 6px 16px;
    text-decoration: none;
    color: rgb(0, 0, 0, .6);
    transition: background-color .1s;
    transition: color .1s;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}