main {
    padding-left: 45px;
}

img {
    float: right;
    width: 800px;
}

h1 {
    padding-top: 120px;
}

p {
    margin-top: 1em;
    font-size: 15px;
}

p a {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: skyblue;
}

hr {
    height: 1px;
    background-color: slategray;
    clear: both;
    margin: 140px 120px 30px 90px;
}

section {
    margin: 0px auto;
    padding-right: 30px;
    text-align: center;
}

article {
    display: inline-block;
    width: 250px;
    padding: 24px;
    margin: 0px 24px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, .2);
}

article img {
    float: none;
    width: 200px;
    margin: 0px auto 18px auto;
}

article h3 {
    clear: both;
    font-size: 22px;
    color: slateblue;
}

article p {
    font-size: 15px;
}