<img src="../../assets/images/home.jpg">
<h1>JamVan Wireless</h1>
<h2>Your plan.<br>
    Your device.<br>
    Your way.</h2>
<p><a [routerLink]="['/register']">Sign up now!</a></p>
<p>Choose a plan, add a device —<br>
    see what JamVan can do for you.</p>
<hr>
<section>
    <article>
        <img src="../../assets/images/home-plan.png" alt="Your Plan">
        <h3>Your Plan</h3>
        <p>Choose and customize a plan that's perfect for you and your family.</p>
    </article>
    <article>
        <img src="../../assets/images/home-device.png" alt="Your Plan">
        <h3>Your Device</h3>
        <p>Choose an available device, or add one of your own.</p>
    </article>
    <article>
        <img src="../../assets/images/home-bill.png" alt="Your Plan">
        <h3>Your Bill</h3>
        <p>Clear, transparent billing — know exactly what you'll pay and why.</p>
    </article>
</section>