<aside *ngIf="showAddNewDeviceModal">
    <header>
        <img src="../../assets/images/apple-logo.png" *ngIf="make === 'Apple'">
        <img src="../../assets/images/blackberry-logo.png" *ngIf="make === 'BlackBerry'">
        <img src="../../assets/images/samsung-logo.png" *ngIf="make === 'Samsung'">
        <img src="../../assets/images/other-logo.png" *ngIf="make !== 'Apple' 
                                                        && make !== 'BlackBerry' 
                                                        && make !== 'Samsung'">
        <h5>{{ model }}</h5>
        <h6>{{ make }}</h6>
        <select #lines (change)="onAvailableLineSelected(lines.value)">
            <option value="">Select an active line...</option>
            <ng-container *ngFor="let line of availableLines, let i = index">
                <option value="{{ i }}">{{ line.phoneNumber }}</option>
            </ng-container>
        </select>
        <div>
            {{ addLineError }}
        </div>
        <p>Are you sure you want to add this device?</p>
        <button (click)="addNewDevice()">Add Device</button>
        <button (click)="cancelAddNewDevice()">Cancel</button>
    </header>
    <div (click)="cancelAddNewDevice()"></div>
</aside>

<main>
    <h1>Manage Devices</h1>
    <article>
        <h2 *ngIf="this.currentNumbers.length">My Devices</h2>
        
        <ng-container *ngFor="let number of currentNumbers">
            <app-current-device
                [number]="number"
                [availableLines]="availableLines"
                (changeEvent)="resetValues()"></app-current-device>
        </ng-container>

        <h2>Available Devices
            <form id="selectAvailableMake">
                <select name="availableMake" #makes (change)="onDeviceFilterSelected(makes.value)">
                    <option value="">Select Make...</option>
                    <ng-container *ngFor="let make of currMakes">
                        <option value="{{ make }}">{{ make }}</option>
                    </ng-container>
                </select>
            </form>
            <form id="searchAvailableMake" (ngSubmit)="searchDevices(); searchForm.reset();" #searchForm>
                <input [(ngModel)]="searchCriteria" type="text" placeholder="Search Available Devices..." name="Search" #Search="ngModel">
                <input type="submit" value="">
            </form>
            <span>Scroll for more options ▼</span>
        </h2>

        <div>
            <p *ngIf="filteredDevices.length === 0">No available devices match that search criteria.</p>
            <ng-container *ngFor="let device of filteredDevices">
                <app-available-device
                    [device]="device"
                    [availableLines]="availableLines"
                    (changeEvent)="resetValues()"></app-available-device>
            </ng-container>
        </div>
        
        <h2>Add Device</h2>

        <form id="addDevice" [formGroup]="addDeviceForm">

            <section>
                <label for="make">Make</label>
                <input name="make" type="text" formControlName="make" (focus)="clearAddDeviceError()" />
                <aside>
                    <span *ngIf="addDeviceForm.controls['make'] != null 
                                 && !addDeviceForm.controls['make'].valid 
                                 && (addDeviceForm.controls['make'].dirty 
                                 || addDeviceForm.controls['make'].touched)">
                        Required
                    </span>
                </aside>
            </section>
            
            <section>
                <label for="model">Model</label>
                <input name="model" type="text" formControlName="model" (focus)="clearAddDeviceError()" />
                <aside>
                    <span *ngIf="addDeviceForm.controls['model'] != null 
                                 && !addDeviceForm.controls['model'].valid 
                                 && (addDeviceForm.controls['model'].dirty 
                                 || addDeviceForm.controls['model'].touched)">
                        Required
                    </span>
                </aside>
            </section>
            <div>
                <button [disabled]="!addDeviceForm.valid" (click)="addNewDeviceModal()">Add New Device</button>
                <span>{{ addDeviceError }}</span>
            </div>
        </form>
    </article>

    <app-sidebar
        [isStale]="isStale"></app-sidebar>
</main>