<aside *ngIf="showAddNewDeviceModal">
    <header>
    <img src="../../assets/images/apple-logo.png" *ngIf="'Apple' === 'Apple'">
    <!-- <img src="../../assets/images/blackberry-logo.png" *ngIf="device.device.make === 'BlackBerry'">
    <img src="../../assets/images/samsung-logo.png" *ngIf="device.device.make === 'Samsung'">
    <img src="../../assets/images/other-logo.png" *ngIf="device.device.make !== 'Apple' 
                                                      && device.device.make !== 'BlackBerry' 
                                                      && device.device.make !== 'Samsung'"> -->
        <h5><!--{{ device.device.model }}-->Device Model</h5>
        <select>
            <option value="">Select an active line...</option>
            <ng-container *ngFor="let line of currentLines">
                <option value="{{ line }}">{{ line }}</option>
            </ng-container>
        </select>
        <p>Are you sure you want to add this device?</p>
        <button (click)="addNewDevice()">Add Device</button>
        <button (click)="cancelAddNewDevice()">Cancel</button>
    </header>
    <div (click)="cancelAddNewDevice()"></div>
</aside>

<main>
    <h1>Manage Devices</h1>

    <article>
        <h2 *ngIf="this.currentDevices.length!==0">My Devices</h2>
        <ng-container *ngFor="let number of currentNumbers">
            <app-current-device
                [number]="number"
                (changeEvent)="resetValues()"></app-current-device>
        </ng-container>

        <h2>Available Devices
            <form id="selectAvailableMake">
                <select name="availableMake">
                    <option value="">Select Make...</option>
                    <option value="Apple">Apple</option>
                    <option value="BlackBerry">BlackBerry</option>
                    <option value="Samsung">Samsung</option>
                </select>
            </form>
            <form id="searchAvailableMake">
                <input type="text" placeholder="Search Available Devices...">
                <input type="submit" value="">
            </form>
            <a [routerLink]="['/manageDevices']">Scroll for more options ▼</a>
        </h2>
        <div>
        <ng-container *ngFor="let device of allDevices">
            <app-available-device
                [device]="device"
                (changeEvent)="resetValues()"></app-available-device>
        </ng-container>
        </div>
        
        <h2>Add Device</h2>

        <form id="addDevice" [formGroup]="addDevice" (ngSubmit)="add(); addDevice.reset();">

            <section>
                <label for="make">Make</label>
                <input name="make" type="text" formControlName="make"  />
                <aside>
                    <span *ngIf="addDevice.controls['make'] != null 
                                 && !addDevice.controls['make'].valid 
                                 && (addDevice.controls['make'].dirty 
                                 || addDevice.controls['make'].touched)">
                        Required
                    </span>
                </aside>
            </section>
            
            <section>
                <label for="model">Model</label>
                <input name="model" type="text" formControlName="model" />
                <aside>
                    <span *ngIf="addDevice.controls['model'] != null 
                                 && !addDevice.controls['model'].valid 
                                 && (addDevice.controls['model'].dirty 
                                 || addDevice.controls['model'].touched)">
                        Required
                    </span>
                </aside>
            </section>
            
            <button (click)="addNewDeviceModal()">Add New Device</button>
        </form>
    </article>

    <app-sidebar
        [isStale]="isStale"
        (changeEvent)="resetIsStale()"></app-sidebar>
</main>