<h1>View Bill</h1>
<h2>Current Billing Cycle
    <select>
        <option value="current">Current Billing Cycle (June 13 - July 12, 2022)</option>
        <option value="051322-061222">May 13 - June 12, 2022</option>
        <option value="041322-051222">April 13 - May 12, 2022</option>
    </select>    
</h2>
<table>
    <tr>
        <th>DESCRIPTION</th>
        <th>COST</th>
    </tr>
    <tr>
        <td>Unlimited Elite 5G Plan — iPhone 13 Pro Max</td>
        <td>$59.99</td>
    </tr>
    <tr>
        <td>Unlimited Essential — Samsung Galaxy 7</td>
        <td>$39.99</td>
    </tr>
    <tr>
        <td>NJ Telecommunications Tax</td>
        <td>$10.87</td>
    </tr>
    <tr>
        <td>Miscellaneous Service Fees</td>
        <td>$6.55</td>
    </tr>
    <tr id="total">
        <td>TOTAL DUE:</td>
        <td>$117.40</td>
    </tr>
</table>