<section>
    <img src="../../assets/images/plan-premium.png" *ngIf="plan.plan.name === 'Unlimited Premium'" />
    <img src="../../assets/images/plan-extra.png" *ngIf="plan.plan.name === 'Unlimited Extra'" />
    <img src="../../assets/images/plan-starter.png" *ngIf="plan.plan.name === 'Unlimited Starter'" />
    <h3>{{ plan.plan.name }}</h3>
    <h4>{{ plan.activeNumbers.length }} line<span *ngIf="plan.currLines !== 1">s</span> active, 
        {{ plan.plan.numDevices - plan.activeNumbers.length }} available</h4>
    <ul>
        <ng-container *ngFor="let activeDescriptor of plan.plan.activeDescriptors">
            <li>{{ activeDescriptor.descriptor.description }}</li>
        </ng-container>
    </ul>
</section>